<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=7947842a-1b85-4493-b7f3-a79f009ad77f.sqlserver.sequelizer.com;Database=db7947842a1b854493b7f3a79f009ad77f;User ID=wuahgduurbgbampw;Password=3HpinWYjNbcz2EvjnMsnMCSquibvxPQk3Y22xwff7XLoew5iRfXukvoyX7VdUCU7;"/>
  </connectionStrings>
</configuration>
